/** @format */
  .contentPart{
    background-color: #2ea0a9;
    color: #fff;
    font-size: 28px;
  } 
  .userLogin{
    display: flex;
    flex-direction: column;
  }
  .searchBtn{
      width: 150px;
    background-color: #4c4c4c;
  }
  